.App {
  text-align: center;
}

.app-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  border: 1px solid #dbdbdb;
  padding: 0.3em;
}

table thead {
  background-color: #4c4091;
}

.capitalize {
  text-transform: uppercase;
}

.red {
  color: #f00;
}

.green {
  color: #0f0;
}

table tbody tr:hover {
  cursor: pointer;
  background-color: gray;
}

table tbody tr.selected {
  background-color: #000;
}

canvas {
  box-sizing: border-box;
  border: white 1.5px solid;
  padding: 30px;
}

.graph-container {
  width: 50%;
}

.graph-container p {
  text-align: left;
  border: white 1.5px solid;
  margin: 0;
  padding: 10px;
  border-bottom-width: 0;
  background-color: #4c4091;
  font-weight: bold;
}
